body {
 margin: 0;
 padding: 0;
}

div {
 margin: 15rem auto;
 height: 45rem;
 width: 50%;
 border-radius: 1rem;
 background-color: orange;
}

.container {
 display: flex;
 flex-direction: column;
 align-items: center;
}
